{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<header class=header-container>
	<div class=header-overlay></div>
	<div class=header-background style="background-image: url({{@blog.cover}})"></div>
	<div class=header-description>
		<div class=header-description-wrapper>
			<div class=logo>
				<a class="main-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>
			</div>	
			<h3 class=blog-description>{{@blog.description}}</h3>
		</div>
	</div>
</header>

<main class=post-loop>

	{{> "loop"}}

</main>
