:link { color: #0000EE; }
:visited { color: #551A8B; }
:link:active, :visited:active { color: #FF0000; }
:link, :visited { text-decoration: underline; cursor: pointer; }
a:hover { background-color: black; color: white; }
a:hover h2 { background-color: black; color: white; }

@media (prefers-color-scheme: dark) {
	.pagination > a:visited, :link { color: #9E9EFF; }
	:visited { color: #D0ADF0; }
	:link:active, :visited:active { color: #FF9E9E; }
	:link, :visited { text-decoration: underline; cursor: pointer; }
	a:hover { background-color: white; color: black; }
	a:hover h2 { background-color: white; color: black; }
}

body > header, body > footer, body > #content > #posts,
body > #content > .post, body > #content > .pagination {
	max-width: 800px;
	margin: auto;
	font: 14px/1.5 monospace;
	padding: 10px;
}

header nav a {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	transition: all .3s;
}

header nav {
	margin-top: 10px;
}

img {
	width: 100%;
}



.list-post h2 {
	margin-bottom: 0;
	display: inline;
	padding-left: 1px;
}

.list-post {
	margin-top: 24px;
	margin-bottom: 18px;
}

.post h1 {
	margin-bottom: 0;
	padding-left: 1px;
}

.list-post h5, .post h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.list-post section p, .list-post header .r-img {
	margin-top: 7px
}

@media(max-width: 800px) {
	.cover {
		background-image: url("/images/cover-800w.jpeg");

		background-image: image-set(
			url("/images/cover-800w.avif") 1x,
			url("/images/cover-1600w.avif") 2x,
			url("/images/cover-2400w.avif") 3x,
			url("/images/cover-3200w.avif") 4x,
			
			url("/images/cover-800w.webp") 1x,
			url("/images/cover-1600w.webp") 2x,
			url("/images/cover-2400w.webp") 3x,
			url("/images/cover-3200w.webp") 4x,
			
			url("/images/cover-800w.jpeg") 1x,
			url("/images/cover-1600w.jpeg") 2x,
			url("/images/cover-2400w.jpeg") 3x,
			url("/images/cover-3200w.jpeg") 4x
		);
	}
}

@media (min-width:800px) and (max-width: 1600px) {
	.cover {
		background-image: url("/images/cover-1600w.jpeg");

		background-image: image-set(
			url("/images/cover-1600w.avif") 1x,
			url("/images/cover-3200w.avif") 2x,

			url("/images/cover-1600w.webp") 1x,
			url("/images/cover-3200w.webp") 2x,
			
			url("/images/cover-1600w.jpeg") 1x,
			url("/images/cover-2400w.jpeg") 2x
		);
	}
}

@media(min-width: 1600px) {
	.cover {
		background-image: url("/images/cover-2400w.jpeg");
	
		background-image: image-set(
			url("/images/cover-2400w.avif") 1x,
			url("/images/cover-4000w.avif") 2x,

			url("/images/cover-2400w.webp") 1x,
			url("/images/cover-4000w.webp") 2x,
			
			url("/images/cover-2400w.jpeg") 1x,
			url("/images/cover-4000w.jpeg") 2x
		);
	}
}

.cover {
	background-size: cover;
	background-position: 50%;
	min-height: 400px;
	max-height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cover .logo {
	max-height: 300px;
	object-fit: contain;
}

.cover h1, #posts h1 {
	margin-bottom: 0;
}

.cover p {
	margin-top: 0;
}

.pagination {
	align-items: center;
	justify-content: center;
	display: flex;
}

.pagination > a {
	margin: 5px;
}

.pagination > a.current {
	text-decoration: none;
}
