{{ define "main" }}
{{ $cover := resources.Get (.Param "background-image")  }}
{{ $logo := resources.Get (.Param "logo")  }}
<div class="site-hello">
	{{- if or (not $cover) (not $logo) -}}
	<h1>{{ .Site.Title }}</h1>
	<p>{{ .RenderString (.Param "description") }}</p>
	{{- else -}}
	{{ $filename := (strings.TrimSuffix ".HEIC" (.Param "logo")) }}
	<div class="logo">
		<picture>
			<source type="image/avif" srcset="
				{{ (resources.Get (printf "%s.avif" $filename)).RelPermalink }} 1x,
				{{ (resources.Get (printf "%s@2x.avif" $filename)).RelPermalink }} 2x,
				{{ (resources.Get (printf "%s@3x.avif" $filename)).RelPermalink }} 3x,
				{{ (resources.Get (printf "%s@4x.avif" $filename)).RelPermalink }} 4x
			">
			<source type="image/webp" srcset="
				{{ (resources.Get (printf "%s.webp" $filename)).RelPermalink }} 1x,
				{{ (resources.Get (printf "%s@2x.webp" $filename)).RelPermalink }} 2x,
				{{ (resources.Get (printf "%s@3x.webp" $filename)).RelPermalink }} 3x,
				{{ (resources.Get (printf "%s@4x.webp" $filename)).RelPermalink }} 4x
			">
			<img
				src="{{ (resources.Get (printf "%s.png" $filename)).RelPermalink }}"
				srcset="
					{{ (resources.Get (printf "%s.png" $filename)).RelPermalink }} 1x,
					{{ (resources.Get (printf "%s@2x.png" $filename)).RelPermalink }} 2x,
					{{ (resources.Get (printf "%s@3x.png" $filename)).RelPermalink }} 3x,
					{{ (resources.Get (printf "%s@4x.png" $filename)).RelPermalink }} 4x
				"
				sizes="(max-width: 300px) 100vw, 300px"
				alt="jonhikes logo"
			/>
		</picture>
	</div>
	{{- end -}}
</div>
{{- if not $cover -}}
<hr/>
{{- end -}}
{{- partial "post_list.html" . -}}
{{ end }}
