:link { color: #0000EE; }
:visited { color: #551A8B; }
:link:active, :visited:active { color: #FF0000; }
:link, :visited { text-decoration: underline; cursor: pointer; }

@media (prefers-color-scheme: dark) {
	:link { color: #9E9EFF; }
	:visited { color: #D0ADF0; }
	:link:active, :visited:active { color: #FF9E9E; }
	:link, :visited { text-decoration: underline; cursor: pointer; }
}

body > header, body > footer, body > #content > #posts, body > #content > .post {
	max-width: 800px;
	margin: auto;
	font: 14px/1.5 monospace;
	padding: 10px;
}

header nav a {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 100;
	letter-spacing: 1px;
	transition: all .3s;
}

header nav {
	margin-top: 10px;
}

img {
	width: 100%;
}

a:hover {
	background-color: black;
	color: white;
}

a:hover h2 {
	background-color: black;
	color: white;
}

.list-post h2 {
	margin-bottom: 0;
	display: inline;
	padding-left: 1px;
}

.list-post {
	margin-top: 24px;
	margin-bottom: 18px;
}

.post h1 {
	margin-bottom: 0;
	padding-left: 1px;
}

.list-post h5, .post h5 {
	margin-top: 0;
	margin-bottom: 0;
}

.list-post section p, .list-post header .r-img {
	margin-top: 7px
}

{{ $cover := resources.Get (.Param "background-image")  }}
{{ $logo := resources.Get (.Param "logo")  }}

{{- if and $cover $logo -}}

{{ $cover_filename := (strings.TrimSuffix ".HEIC" $cover.RelPermalink) }}

@media(max-width: 800px) {
	.site-hello {
		background-image: url("{{ (resources.Get (printf "%s-800w.jpeg" $cover_filename)).RelPermalink }}");

		background-image: image-set(
			url("{{ (resources.Get (printf "%s-800w.avif" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-1600w.avif" $cover_filename)).RelPermalink }}") 2x,
			url("{{ (resources.Get (printf "%s-2400w.avif" $cover_filename)).RelPermalink }}") 3x,
			url("{{ (resources.Get (printf "%s-3200w.avif" $cover_filename)).RelPermalink }}") 4x,
			
			url("{{ (resources.Get (printf "%s-800w.webp" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-1600w.webp" $cover_filename)).RelPermalink }}") 2x,
			url("{{ (resources.Get (printf "%s-2400w.webp" $cover_filename)).RelPermalink }}") 3x,
			url("{{ (resources.Get (printf "%s-3200w.webp" $cover_filename)).RelPermalink }}") 4x,
			
			url("{{ (resources.Get (printf "%s-800w.jpeg" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-1600w.jpeg" $cover_filename)).RelPermalink }}") 2x,
			url("{{ (resources.Get (printf "%s-2400w.jpeg" $cover_filename)).RelPermalink }}") 3x,
			url("{{ (resources.Get (printf "%s-3200w.jpeg" $cover_filename)).RelPermalink }}") 4x,
		);
	}
}

@media (min-width:800px) and (max-width: 1600px) {
	.site-hello {
		background-image: url("{{ (resources.Get (printf "%s-1600w.jpeg" $cover_filename)).RelPermalink }}");

		background-image: image-set(
			url("{{ (resources.Get (printf "%s-1600w.avif" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-3200w.avif" $cover_filename)).RelPermalink }}") 2x,

			url("{{ (resources.Get (printf "%s-1600w.webp" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-3200w.webp" $cover_filename)).RelPermalink }}") 2x,
			
			url("{{ (resources.Get (printf "%s-1600w.jpeg" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-2400w.jpeg" $cover_filename)).RelPermalink }}") 2x,
		);
	}
}

@media(min-width: 1600px) {
	.site-hello {
		background-image: url("{{ (resources.Get (printf "%s-2400w.jpeg" $cover_filename)).RelPermalink }}");
	
		background-image: -webkit-image-set(
			url("{{ (resources.Get (printf "%s-2400w.avif" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-4000w.avif" $cover_filename)).RelPermalink }}") 2x,

			url("{{ (resources.Get (printf "%s-2400w.webp" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-4000w.webp" $cover_filename)).RelPermalink }}") 2x,
			
			url("{{ (resources.Get (printf "%s-2400w.jpeg" $cover_filename)).RelPermalink }}") 1x,
			url("{{ (resources.Get (printf "%s-4000w.jpeg" $cover_filename)).RelPermalink }}") 2x,
		);
	}
}

.site-hello {
	background-size: cover;
	background-position: 50%;
	min-height: 400px;
	max-height: 800px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.site-hello .logo {
	max-height: 300px;
	object-fit: contain;
}
{{- end -}}

.site-hello h1, #posts h1 {
	margin-bottom: 0;
}

.site-hello p {
	margin-top: 0;
}
