<head>
	{{ $normalizeCSS := resources.Get "css/normalize.css" }}
	{{ $mainCSS := resources.Get "css/main.css" | resources.ExecuteAsTemplate "css/main.css" . | toCSS }}
	{{ $css := (slice $normalizeCSS $mainCSS) | resources.Concat "s.css" | minify }}

	<!-- TODO: add more here -->
	<meta charset="utf-8">
	<meta name="color-scheme" content="light dark">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<style type="text/css">body{font-family:monospace;}</style>
	<link rel="stylesheet" href="{{ $css.Permalink }}?sha1={{ sha1 $css.Content }}">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	{{ range .AlternativeOutputFormats -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{ $title := print .Site.Title " | " .Title }}
	{{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
	<title>{{ $title }}</title>
</head>
